################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/桌面监控
/桌面监控 - 远程
/.vs
/LibRDP/obj/x86/Debug
/RemoteApp/obj/x86/Debug
/.vs
/RemoteApp/obj/x86/Debug
