<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RemoteApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RemoteApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <RemoteApp.Properties.Settings>
      <setting name="SelectedIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NormalCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MaxCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Factor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmartSize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseScreenFactor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SHA256" serializeAs="String">
        <value />
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>标签</value>
      </setting>
      <setting name="MinWhenClosed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxWhenOpened" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SingleEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </RemoteApp.Properties.Settings>    
  </userSettings> 
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <RemoteApp.Properties.Settings>
      <setting name="Nonce" serializeAs="String">
        <value>ChinaEPG</value>
      </setting>
    </RemoteApp.Properties.Settings>
  </applicationSettings>
</configuration>